@import './variables';

.site-navigation {
    height: 65px!important;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
    color: $textColor!important;
    position: relative!important; /* or sticky, depending on the desired behavior */
    top: 1%!important;

    border-radius: 10px!important;
    background: $NeoMorphBg!important;
    box-shadow:  20px 20px 60px #bebebe!important,
                 -20px -20px 60px #ffffff!important;

    span {
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-left: 40px;
        font-weight: 400;

    }
    a {
        text-decoration: none!important;
        padding: 0 20px 0 20px!important;
         color: $textColor!important;



        &:hover{
            color: $text-link!important;
        }

    }
    
 
}