@import './variables';

.site-navigation {

    display: flex !important;
    justify-content: space-between !important;
    color: $textColor !important;

    justify-content: center !important;
    transition: all .3s !important;
    margin: 0 auto !important;

    left: 0 !important;
    align-items: center !important;
    background-color: $dark_shades !important;
    color: $light_accent !important;



    span {
        font-size: 30px;
        display: flex;
        align-items: center;
        font-weight: 400;

    }

    a {
        text-decoration: none !important;
        padding: 0 20px 0 20px !important;
        color: $light_shades !important;



        &:hover {
            color: $light_accent !important;
        }

    }


}