$textColor: #444;
$text-link: rgb(173, 173, 173);
$NeoMorphBg: #e0e0e0;


// themeing
$light_shades: #f2e4eb;
$light_accent: #A1A99F;
$main_brand_color: #A1A99F;
$dark_accent: #8F9791;
$dark_shades: #283227;
