@import "./_navigation.scss";
@import "./_variables.scss";
@import "./about.scss";
@import "./blogs.scss";
@import "./ttt.scss";

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: $light_shades !important;
}
 


.aniBg{
  z-index: -23!important; /* Use a low z-index to place it behind other elements */
}
.about-me-container {
  position: relative;
 
 }

 .blogTitleBar{
  background-color: $dark_shades;
  color: $light_shades;
 }

 .blogContainer {
  max-width: 100%;
  padding: 20px;
  overflow-x: hidden; /* Hide horizontal overflow */
  box-sizing: border-box; /* Ensure padding is included in the max-width */
}

 .closeBtn{
  float: right;
 }
.portalImg {
  margin-top: 40px!important;
  z-index: 2!important; /* Use a low z-index to place it behind other elements */

}

pre {
  background-color: rgb(54, 54, 54);
  padding: 10px;
  color: white;
}
.blogspage {
  padding: 10%;
  .filterButton{
    color: $dark_accent;
    border-color: $dark_accent!important;
    font-weight: 400;

    &:hover {
      border-color: $dark_accent!important;

      color: $dark_shades !important;
  }

  }
  
}

.not-found-page {
  z-index: 20!important;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/static/404_bg.png');
  background-size: cover;
  /* Ensures the image covers the entire viewport */
  background-position: center;
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  display: flex;
  flex-direction: column;
  /* Changed to column to match the layout of text */
  justify-content: center;
  align-items: center;
  padding: 0;

  color: #fff;
  /* Adjust the text color if needed */
}

.message-404 {

  position: absolute;
  top: 13%;

}


.footer {
  display: flex !important;
  justify-content: space-between !important;
  color: $textColor !important;
  /* Replace $textColor with actual color value */
   /* or sticky, depending on the desired behavior */
   justify-content: center!important;
  transition: all .3s!important;
   margin:0 auto!important;

   left: 0!important;
  margin-top: 2%!important;
    align-items: center !important;

  height: fit-content;

  color: $textColor !important;
  /* or sticky, depending on the desired behavior */

 

}

@media screen and (max-width: 1010px) {
  .portalImg {
   display: none;
   visibility: hidden;
  }

  .login_portal {
     display: none;
  }
}

 